<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <h1 v-bind:class="colore">{{messaggio}} {{nome}} {{cognome}}</h1>
        <input type="text" placeholder="Inserisci nome" v-model="nome">
        <input type="text" placeholder="Inserisci cognome" v-model ="cognome">
        <select v-model="colore">
            <option value="rosso">Rosso</option>
            <option value="giallo">Giallo</option>
            <option value="verde">Verde</option>
        </select>
        <img v-bind:src="srcImmagine">

        <h1>Calcola la somma fra due numeri</h1>
        <input type="text" placeholder="Inserisci un numero" v-model="x">
        <input type="text" placeholder="Inserisci un numero" v-model="y">
        <button @click="calcolaSomma">Calcola</button>
        <div>La somma è {{risultato}}</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="index.js"></script>
</body>
</html>